MYSQLDATABASE="EXAMPLE"
MYSQLHOST="EXAMPLE"
MYSQLPASSWORD="EXAMPLE"
MYSQLPORT="EXAMPLE"
MYSQLUSER="EXAMPLE"
MYSQL_DATABASE="EXAMPLE"
MYSQL_PUBLIC_URL="EXAMPLE"
MYSQL_ROOT_PASSWORD="EXAMPLE"
MYSQL_URL="AAA"